body {
    font-family: Popins, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1, h2 {
    margin: 0;
}

header {
    background-color: #111;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 36px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #020202;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

nav a:hover { 
    text-decoration: underline;
}

.spread {
    background-image: url('https://wallpapers.com/images/hd/games-background-kg6cymzlui2dp2v9.jpg');
    background-size: cover;
    background-position: center;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.spread h1 {
    font-size: 60px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.gaimes {
    padding: 20px;
}

.gaimes h2 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}

.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gallery img {
    width: 400px;
    height: 400px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery img:hover {
    transform: scale(1.09);
    transition: transform 0.2s ease-in-out;
}

.celularis {
    padding: 20px;
}

.celularis h2 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}

footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 10px;
    position:sticky;    
    width: 100%;
    bottom: 0;
}

footer p {
    margin: -0;
}
